<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title><%= @headers['title'] %> | by <%= @headers['author']%></title>
    
    <meta name="generator" content="Slide Show (S9)">
    <meta name="author" content="<%= @headers['author']%>">
    
    <!-- Custom CSS just for this page -->
    <!-- <link rel="stylesheet" href="<%= "#{@name}.css" %>"> -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
    <link href="css/impress.css" rel="stylesheet" />
    <link href="css/codemirror.css" rel="stylesheet" />
    <link href="css/python-course.css" rel="stylesheet" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" >
</head>
<body>

<div id="impress">

    <!-- note: assumes no header (breaking slides w/ SLIDE directive) -->
<% 
x = 0
y = 0
z = 0
rx = 0
ry = 0
rz = 0
dx = 1000
dy = 0
dz = 500
drx = 90
dry = 90
drz = 0




@slides.each do |slide| %>
    <div class='step slide' data-x='<%= x.to_s %>' data-y='<%= y.to_s %>' data-z='<%= z.to_s %>' data-rotate-x='<%= rx.to_s %>' data-rotate-y='<%= ry.to_s %>' data-rotate-z='<%= rz.to_s %>'>
      <%= slide.content %>
    </div>
<%
x = x + dx
y = y + dy
z = z + dz
rx = rx + drx
ry = ry + dry
rz = rz + drz
end %>

</div>
<div id="stdout" style="width: 100%; background-color: #000; color: #FFF; position: fixed; bottom: 0px"></div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="js/impress.js"></script>
<script src="js/codemirror.js"></script>
<script src="js/python.js"></script>
<script src="js/skulpt.js"></script>
<script src="js/editor.js"></script>

</body>
</html>
